/home/{{ ansible_user }}/Music/AudioStation ds214play:/volume1/music
/home/{{ ansible_user }}/Videos/VideoStation ds214play:/volume1/video
/home/{{ ansible_user }}/Pictures/PhotoStation ds214play:/volume1/photo
/home/{{ ansible_user }}/Downloads/DownloadStation ds214play:/volume1/downloads
/home/{{ ansible_user }}/Backup ds214play:/volume1/NetBackup
