/home/{{ ansible_user_id }}/Music/AudioStation ds214play:/volume1/music
/home/{{ ansible_user_id }}/Videos/VideoStation ds214play:/volume1/video
/home/{{ ansible_user_id }}/Pictures/PhotoStation ds214play:/volume1/photo
/home/{{ ansible_user_id }}/Downloads/DownloadStation ds214play:/volume1/downloads
/home/{{ ansible_user_id }}/Backup ds214play:/volume1/NetBackup
